<main class="container">
  <h1 nz-typography>شاخص‌های نرخ دلار آمریکا</h1>
  <br />
  <div class="max-w-screen-md">
    <nz-range-picker [(ngModel)]="date" (ngModelChange)="onDatePickerChange($event)"></nz-range-picker>
  </div>
  <br />
  <div class="max-w-screen-md">
    <canvas baseChart [data]="data" [options]="options" type="line"></canvas>
  </div>
  <br />
  <div class="max-w-screen-md">
    <nz-table [nzData]="[].constructor(10)" [nzShowPagination]="false">
        <thead>
        <tr>
          <th>شاخص</th>
          <th>فرمول محاسبه</th>
          <th>نتیجه</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>تعداد روزهای بازه</td>
          <td><math>
            <mi>n</mi>
          </math></td>
          <td>{{ metrics().days | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>کمترین قیمت</td>
          <td><math>
            <mo>min</mo>
            <mo>(</mo>
            <mi>prices</mi>
            <mo>)</mo>
          </math></td>
          <td>{{ metrics().minPrice | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>بیشترین قیمت</td>
          <td><math>
            <mo>max</mo>
            <mo>(</mo>
            <mi>prices</mi>
            <mo>)</mo>
          </math></td>
          <td>{{ metrics().maxPrice | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>میانه قیمت‌ها</td>
          <td>
            <math>
              <mo>median</mo>
              <mo>(</mo>
              <mi>prices</mi>
              <mo>)</mo>
            </math>
          </td>
          <td>{{ metrics().medianPrice | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>میانگین قیمت</td>
          <td>
            <math>
              <mfrac>
                <mrow>
                  <mo>&#8721;</mo>
                  <mi>prices</mi>
                </mrow>
                <mi>n</mi>
              </mfrac>
            </math>
          </td>
          <td>{{ metrics().avgPrice | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>انحراف معیار</td>
          <td>
            <math>
              <msqrt>
                <mfrac>
                  <mrow>
                    <mo>&#8721;</mo>
                    <msup>
                      <mrow>
                        <mi>price</mi>
                        <mo>-</mo>
                        <mi>avg</mi>
                      </mrow>
                      <mn>2</mn>
                    </msup>
                  </mrow>
                  <mi>n</mi>
                </mfrac>
              </msqrt>
            </math>
          </td>
          <td>{{ metrics().stdDev | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>میانگین تغییرات روزانه</td>
          <td>
            <math>
              <mfrac>
                <mrow>
                  <mo>&#8721;</mo>
                  <mi>&#x394; daily</mi>
                </mrow>
                <mi>n</mi>
              </mfrac>
            </math>
          </td>
          <td>{{ metrics().dailyChanges | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>میانگین تغییرات ماهانه</td>
          <td>
            <math>
              <mfrac>
                <mrow>
                  <mo>&#8721;</mo>
                  <mi>&#x394; monthly</mi>
                </mrow>
                <mi>n</mi>
              </mfrac>
            </math>
          </td>
          <td>{{ metrics().monthlyChanges | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>میانگین تغییرات سالیانه</td>
          <td>
            <math>
              <mfrac>
                <mrow>
                  <mo>&#8721;</mo>
                  <mi>&#x394; yearly</mi>
                </mrow>
                <mi>n</mi>
              </mfrac>
            </math>
          </td>
          <td>{{ metrics().yearlyChanges | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>نرخ افزایش قیمت در کل بازه</td>
          <td>
            <math>
              <mrow>
                <mfrac>
                  <mrow>
                    <mi>price</mi>
                    <mo>(n)</mo>
                    <mo>-</mo>
                    <mi>price</mi>
                    <mo>(1)</mo>
                  </mrow>
                  <mi>price</mi>
                  <mo>(1)</mo>
                </mfrac>
                <mo>&#215;</mo>
                <mn>100</mn>
              </mrow>
            </math>
          </td>
          <td>{{ metrics().overallGrowthRate | number: '1.0-2' }}%</td>
        </tr>
        <tr>
          <td>نرخ رشد روزانه</td>
          <td>
            <math>
              <mrow>
                <msup>
                  <mfrac>
                    <mi>price</mi>
                    <mo>(n)</mo>
                    <mi>price</mi>
                    <mo>(1)</mo>
                  </mfrac>
                  <mfrac>
                    <mn>1</mn>
                    <mi>days</mi>
                  </mfrac>
                </msup>
                <mo>-</mo>
                <mn>1</mn>
                <mo>&#215;</mo>
                <mn>100</mn>
              </mrow>
            </math>
          </td>
          <td>{{ metrics().dailyGrowthRate | number: '1.0-2' }}%</td>
        </tr>
        <tr>
          <td>نرخ رشد ماهیانه</td>
          <td>
            <math>
              <mrow>
                <msup>
                  <mfrac>
                    <mi>price</mi>
                    <mo>(n)</mo>
                    <mi>price</mi>
                    <mo>(1)</mo>
                  </mfrac>
                  <mfrac>
                    <mn>1</mn>
                    <mrow>
                      <mi>days</mi>
                      <mo>/</mo>
                      <mn>30</mn>
                    </mrow>
                  </mfrac>
                </msup>
                <mo>-</mo>
                <mn>1</mn>
                <mo>&#215;</mo>
                <mn>100</mn>
              </mrow>
            </math>
          </td>
          <td>{{ metrics().monthlyGrowthRate | number: '1.0-2' }}%</td>
        </tr>
        <tr>
          <td>نرخ رشد سالیانه</td>
          <td>
            <math>
              <mrow>
                <msup>
                  <mfrac>
                    <mi>price</mi>
                    <mo>(n)</mo>
                    <mi>price</mi>
                    <mo>(1)</mo>
                  </mfrac>
                  <mfrac>
                    <mn>1</mn>
                    <mrow>
                      <mi>days</mi>
                      <mo>/</mo>
                      <mn>365</mn>
                    </mrow>
                  </mfrac>
                </msup>
                <mo>-</mo>
                <mn>1</mn>
                <mo>&#215;</mo>
                <mn>100</mn>
              </mrow>
            </math>
          </td>
          <td>{{ metrics().yearlyGrowthRate | number: '1.0-2' }}%</td>
        </tr>
        </tbody>
    </nz-table>
    <br>
    @if (date) {
      <p>برای درک بهتر ارزش پول در این بازه، فرض کنید شما در تاریخ {{ formatter.format(date[0]) }} مبلغ <input class="max-w-28" nz-input [ngModel]="initialValue()" (ngModelChange)="initialValue.set($event)"> تومان داشتید. با گذشت زمان و در انتهای بازه در تاریخ {{ formatter.format(date[1]) }}، ارزش پول شما به {{ adjustedValue() | number: '1.0-0' }} تومان رسیده است.</p>
    }
  </div>
</main>
