<main class="container">
  <h1 nz-typography>شاخص‌های نرخ دلار آمریکا</h1>
  <br />
  <div class="max-w-screen-md">
    <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
  </div>
  <br />
  <div class="max-w-screen-md">
    <canvas baseChart [data]="data" [options]="options" type="line"></canvas>
  </div>
  <br />
  <div class="max-w-screen-md">
    <nz-table [nzData]="[].constructor(10)" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>شاخص</th>
          <th>فرمول محاسبه</th>
          <th>نتیجه (تومان)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="این شاخص نشان می‌دهد که به طور میانگین، قیمت یک دلار در بازه زمانی مشخص چقدر بوده است. میانگین به ما دید کلی از روند قیمت می‌دهد."
              >میانگین قیمت</span
            >
          </td>
          <td>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mfrac>
                <mo>&sum;</mo>
                <mi>Price</mi>
                <mi>i</mi>
              </mfrac>
              <mo>/</mo>
              <mi>n</mi>
            </math>
          </td>
          <td>{{ metrics.meanPrice | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="انحراف معیار میزان نوسان قیمت‌ها نسبت به میانگین را نشان می‌دهد. انحراف معیار بالا یعنی قیمت‌ها خیلی تغییر کرده‌اند و انحراف معیار پایین یعنی قیمت‌ها نزدیک به میانگین هستند."
              >انحراف معیار قیمت</span
            >
          </td>
          <td>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <msqrt>
                <mfrac>
                  <mn>1</mn>
                  <mi>n</mi>
                </mfrac>
                <mo>&sum;</mo>
                <msub>
                  <mi>i</mi>
                  <mrow>
                    <mo>=</mo>
                    <mn>1</mn>
                  </mrow>
                </msub>
                <msup>
                  <mrow>
                    <mo>(</mo>
                    <msub>
                      <mi>Price</mi>
                      <mi>i</mi>
                    </msub>
                    <mo>−</mo>
                    <mi>Mean Price</mi>
                    <mo>)</mo>
                  </mrow>
                  <mn>2</mn>
                </msup>
              </msqrt>
            </math>
          </td>
          <td>{{ metrics.priceStandardDeviation | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="واریانس نیز مانند انحراف معیار میزان پراکندگی قیمت‌ها را نسبت به میانگین اندازه‌گیری می‌کند، ولی در واحد مربع. این شاخص برای تحلیل‌های آماری کاربرد دارد."
              >واریانس قیمت</span
            >
          </td>
          <td>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mfrac>
                <mn>1</mn>
                <mi>n</mi>
              </mfrac>
              <mo>&sum;</mo>
              <msup>
                <mrow>
                  <mo>(</mo>
                  <msub>
                    <mi>Price</mi>
                    <mi>i</mi>
                  </msub>
                  <mo>−</mo>
                  <mi>Mean</mi>
                  <mo>&nbsp;</mo>
                  <mi>Price</mi>
                  <mo>)</mo>
                </mrow>
                <mn>2</mn>
              </msup>
            </math>
          </td>
          <td>{{ metrics.priceVariance | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="این شاخص میانگین کمترین قیمت‌هایی است که در هر روز ثبت شده‌اند و به ما نمایی از کف قیمتی در بازه مورد نظر می‌دهد."
              >میانگین حداقل قیمت</span
            >
          </td>
          <td>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mfrac>
                <mo>&sum;</mo>
                <msub>
                  <mi>Low</mi>
                  <mi>i</mi>
                </msub>
              </mfrac>
              <mo>/</mo>
              <mi>n</mi>
            </math>
          </td>
          <td>{{ metrics.meanLow | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="این شاخص میانگین بیشترین قیمت‌هایی است که در هر روز ثبت شده‌اند و به ما نمایی از سقف قیمتی در بازه مورد نظر می‌دهد."
              >میانگین حداکثر قیمت</span
            >
          </td>
          <td>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mfrac>
                <mo>&sum;</mo>
                <msub>
                  <mi>High</mi>
                  <mi>i</mi>
                </msub>
              </mfrac>
              <mo>/</mo>
              <mi>n</mi>
            </math>
          </td>
          <td>{{ metrics.meanHigh | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="این شاخص میانگین تغییرات قیمت در هر روز را نشان می‌دهد و به ما کمک می‌کند نوسانات روزانه قیمت را بررسی کنیم."
              >میانگین تغییرات روزانه قیمت</span
            >
          </td>
          <td>
            <math xmlns="http://www.w3.org/1998/Math/MathML">
              <mfrac>
                <mrow>
                  <mo>&sum;</mo>
                  <mrow>
                    <mo>(</mo>
                    <msub>
                      <mi>Price</mi>
                      <mi>i</mi>
                    </msub>
                    <mo>−</mo>
                    <msub>
                      <mi>Price</mi>
                      <mrow>
                        <mi>i</mi>
                        <mo>−</mo>
                        <mn>1</mn>
                      </mrow>
                    </msub>
                    <mo>)</mo>
                  </mrow>
                </mrow>
                <mrow>
                  <mi>n</mi>
                  <mo>−</mo>
                  <mn>1</mn>
                </mrow>
              </mfrac>
            </math>
          </td>
          <td>{{ metrics.averageDailyChange | number: '1.0-0' }}</td>
        </tr>
        <tr>
          <td>
            <span
              nz-tooltip
              nzTooltipTitle="بیشترین تغییری که قیمت از یک روز به روز دیگر داشته است. این شاخص نشان‌دهنده بیشترین نوسان روزانه در بازه زمانی است."
              >حداکثر تغییرات روزانه قیمت</span
            >
          </td>
          <td></td>
          <td>{{ metrics.maxDailyChange | number: '1.0-0' }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</main>
